html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    background-color: #FFFFFF;
  }
  
  ol, ul {
    list-style: none;
  }

body {
    font-family: 'Mulish', 'Rubik', sans-serif;
}

header {

}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #7AC751;
    padding: 0 135px;
}

.topbar-text {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.topbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.en-ru {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: none;
    border: none;
    margin-right: 20px;
}

.topbar-login {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 20px;
}

.topbar-or {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0 5px;
}

.topbar-sign {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
}

.header-search-block {
    border: 2px solid #7AC751;
    border-radius: 8px;
    height: 49px;
    padding-top: 12px;
    margin-left: 120px;
    margin-right: 300px;
}

.search {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B0B0B0;
    border: none;
    padding-left: 20px;
    width: 305px;
}

.Categories {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    border: none;
    background: none;
}

.header-search-btn {
    background: #7AC751;
    border-radius: 0px 7px 6px 0px;
    padding: 14px 20px;
}

.header-icon2 {
    width: 24px;
    margin: 0 21px;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.header-menu-allcategories {
    background: #7AC751;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    margin-left: -310px;
}

.header-menu-allcoll {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.header-menu-links {
    padding-left: 32px;
}

.header-menu-link {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    text-decoration: none;
    padding: 0 32px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-allcat {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}

.header-cat {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #555555;
    text-decoration: none;
    padding: 10px 136px 10px 29px;
    border-top: 0.8px solid #E3E3E3;
    margin-left: -40px;
}

.header-banner {
    background: linear-gradient(103.4deg, rgba(241, 250, 255, 0.88) 0.89%, #F1FAFF 101.61%);
    backdrop-filter: blur(155px);
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11px;
    padding: 47px;
}

.header-banner-content {
    width: 318px;
}

.header-banner-desc {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #7AC751;
}

.header-banner-title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #2F2F2F;
}

.header-banner-text {
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 27px;
    line-height: 26px;
    color: rgba(81, 81, 81, 0.71);
}

.header-banner-btn {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 18px;
    background: #7AC751;
    border-radius: 5px;
    text-decoration: none;
}

.header-banner-block-title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 7px;
    line-height: 26px;
    color: #7AC751;
    margin: 0;
    text-align: center;
}

.header-banner-block-desc {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 7px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #555555;
    margin: 0;
    padding-left: 10px;
    margin-top: -10px;
}

.header-banner-block1, .header-banner-block2, .header-banner-block3 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.56) 100%);
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}

.header-banner-block2 {
    margin: 22px 0;
}

.feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 70px;
}

.feature-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 53px;
}

.feature-img {
    margin-right: 15px;
}

.feature-title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #555555;
    margin: 0;
}

.feature-desc {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: rgba(81, 81, 81, 0.71);
    margin: 0;
}

.offer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.offer-block1 {
    background: url(images/offer1.png) no-repeat;
    width: 669px;
    height: 511px;
    padding-top: 1px;
    padding-left: 24px;
}

.offer-block2 {
    background: url(images/offer2.png) no-repeat;
    width: 485px;
    height: 247px;
    padding-top: 1px;
    padding-left: 24px;
}

.offer-block3 {
    background: url(images/offer3.png) no-repeat;
    width: 485px;
    height: 247px;
    padding-top: 1px;
    padding-left: 24px;
    margin-top: 20px;
}

.offer-title {
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #555555;
}

.offer-desc {
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #7AC751;
}

.offer-btn {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #757575;
    text-decoration: none;
}

.offer-container {
    margin-left: 18px;
}

.trending-title, .offer-section-title {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #555555;
    text-align: center;
}

.tabs-block-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
#tabs {
    display: flex;
}
.tab-btn {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #C2C2C2;
    cursor: pointer;
    padding: 0 35px;
    margin-bottom: 73px;
}
.tab-btn.active {
    color: #7AC751;
}

#contents {
    max-width: 300px;
    width: 100%;
    height: 150px;
    border: 1px solid black;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

.trending-content-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trending-block {
    margin: 22px 15px;
}

.trending-img-top {
    margin-left: -270px;
}

.trending-img {
    margin-bottom: -267px;
}

.trending-desc {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.008em;
    text-transform: uppercase;
    color: rgba(117, 117, 117, 0.71);
    margin-top: 270px;
}

.trending-block-title {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #555555;
    margin-bottom: 0;
}

.trending-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trending-price1 {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #7AC751;
}

.trending-price2 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    text-decoration-line: line-through;
    color: #CCCCCC;
    padding-left: 7px;
    padding-right: 95px;
}

.offer-section {
    margin-bottom: 120px;
}

.offer-section-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-section-living {
    background: url(images/Offer1.png) no-repeat;
    width: 570px;
    height: 250px;
    padding-left: 24px;
    margin: 0 15px;
}

.offer-section-modern {
    background: url(images/Offer2.png) no-repeat;
    width: 570px;
    height: 250px;
    padding-left: 24px;
    margin: 0 15px;
}

.offer-section-img1 {
    margin-left: 482px;
}

.offer-section-block-title {
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #555555;
    margin-top: 0;
}

.offer-section-desc {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #757575;
    width: 227px;
}

.offer-section-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.offer-section-price1 {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #7AC751;
}

.offer-section-price2 {
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    text-decoration-line: line-through;
    color: #CCCCCC;
    padding-left: 7px;
    padding-right: 19px;
}

.offer-section-btn {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    background: #7AC751;
    border-radius: 2px;
    padding: 7px 10px;
}

.tabs-block-wrapper-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
#tabs2 {
    display: flex;
}
.tab-btn-2 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #C2C2C2;
    cursor: pointer;
    padding: 0 35px;
    margin-bottom: 73px;
}
.tab-btn-2.activee {
    color: #7AC751;
}

.contentt {
    display: none;
}

.contentt.activee {
    display: block;
}

/*slider*/

.testimonials {
    margin-bottom: 120px;
}

.slide-img {
    margin-left: 230px;
}

.slide-desc {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #515151;
}

.slide-name {
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #555555;
}

.slide-text {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #515151;
}


.flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider-wrapper {
    max-width: 800px;
    width: 100%;
    height: 490px;
    position: relative;
    border-radius: 20px;
    box-shadow: 10px 10px 44px -10px rgba(0,0,0,0.75);
}

#btn-prev, #btn-next {
    position: absolute;
    left: -170px;
    top: 220px;
    height: 10%;
    width: 50px;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

#btn-prev:hover, #btn-next:hover {
    opacity: 0.6;
}

#btn-next {
    left: auto;
    right: -170px;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    padding: 100px 125px;
}

.slide.active {
    display: block;
}
/*slider-end*/

.blogs {
    margin-bottom: 120px;
}

.posts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post1 {
    width: 570px;
    height: 455px;
    background: url(images/blog1.png) no-repeat;
    margin: 13px;
    padding-left: 44px;
}

.post2 {
    width: 570px;
    height: 455px;
    background: url(images/blog2.png) no-repeat;
    margin: 13px;
    padding-left: 44px;
}

.post3 {
    width: 570px;
    height: 455px;
    background: url(images/blog3.png) no-repeat;
    margin: 13px;
    padding-left: 44px;
}

.post4 {
    width: 570px;
    height: 455px;
    background: url(images/blog4.png) no-repeat;
    margin: 13px;
    padding-left: 44px;
}

.post-tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 240px;
}

.post-tag1 {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.008em;
    text-transform: uppercase;
    color: #7AC751;
    background: #F8FAFB;
    border-radius: 3px;
    padding: 4px;
}

.post-tag-img {
    margin-right: 5px;
    margin-bottom: -3px;
}

.post-tag2 {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.008em;
    color: #FFFFFF;
    margin-left: 5px;
}

.post-title {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 39px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    width: 490px;
    margin: 0;
    margin-bottom: 30px;
}

.post-btn {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.008em;
    color: #FFFFFF;
    text-decoration: none;
}
